<!-- index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Movies</title>
  <link rel="stylesheet" href="styles.css"> <!-- Link to external CSS file -->
</head>
<body>
<div class="search-container">
  <form action="/search" method="GET">
    <input type="text" name="query" placeholder="Search...">
    <select name="filter">
      <option value="title">Title</option>
      <option value="runtime">Runtime</option>
      <option value="year">Year</option>
      <option value="rated">Rated</option>
    </select>
    <select name="category">
      <option value="">All categories</option>
      <option value="Action">Action</option>
      <option value="Comedy">Comedy</option>
      <option value="Drama">Drama</option>
      <option value="Horror">Horror</option>
    </select>
    <button type="submit">Search</button>
  </form>
</div>
  <h1>Movies</h1> <!-- Heading for the page -->
  <% movies.forEach((movie) => { %> <!-- Loop through the list of movies -->
    <h2><%= movie.title %></h2> <!-- Movie title -->
    <p><%= movie.plot %></p> <!-- Movie plot summary -->
    <ul>
      <% movie.genres.forEach((genre) => { %> <!-- Loop through the movie's genres -->
        <li><%= genre %></li> <!-- Display each genre in a list item -->
      <% }) %>
    </ul>
    <p>Runtime: <%= movie.runtime %> minutes</p> <!-- Movie runtime in minutes -->
    <p>Rated: <%= movie.rated %></p> <!-- Movie rating -->
    <% if (movie.released) { %> <!-- Check if the movie's release date is defined -->
      <p>Released: <%= movie.released.toDateString() %></p> <!-- Movie release date -->
    <% } %>
    <p>Countries: <%= movie.countries.join(', ') %></p> <!-- List of countries where the movie was produced -->
  <% }) %>
</body>
</html>
